// Specification

:root {
  --main-bg-color: #009a43;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#menu{
	padding: 35px 0 0 20px;

	.close{
		margin-right: 20px;
	}

	a{
		color: #333333
	}

	.telephone{
		display: block;
		margin-top: 20px;
	}
}

#panel{
	box-shadow: 0 0 10px silver;
}

@font-face{
	font-family: "Mont Bold";
	src: url('../fonts/Fontfabric---Mont-Bold.ttf') format("truetype");
	font-weight: 700;
}

@font-face{
	font-family: "Mont Heavy";
	src: url('../fonts/Fontfabric---Mont-Heavy.ttf') format("truetype");
	font-weight: 900;
}

body {
  width: 100%;
  height: 100%;
}

img{
	max-width: 100%
}

input{
	outline: none !important;
}

ul,li,p{
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:hover{
	text-decoration: none;
}

.slick-next{
	position: absolute;
	right: 5%;
	padding: 30px;
	border-radius: 0 5px 5px 0;
	top: unset;
	bottom: 3%;
	background: var(--main-bg-color) url('../img/arrow-right.png') no-repeat center center / 6px 10px;

	&::before{
		content: '';
	}

	&:hover, &:focus, &:active{
		background: var(--main-bg-color) url('../img/arrow-right.png') no-repeat center center / 6px 10px;
		color: #fff;		
	}
}
.slick-prev{
	position: absolute;
	right: 10%;
	left: unset;
	padding: 30px;
	border-radius: 5px 0px 0px 5px;
	top: unset;
	z-index: 2;
	bottom: 3%;
	background: var(--main-bg-color) url('../img/arrow-left.png') no-repeat center center / 6px 10px;

	&::before{
		content: '';
	}

	&:hover, &:focus, &:active{
		background: var(--main-bg-color) url('../img/arrow-left.png') no-repeat center center / 6px 10px;
		color: #fff;		
	}
}

::placeholder { /* Chrome/Opera/Safari */
  color: #bfbfbf; 
  font-size: 1.125rem;
  font-family: "Mont Bold";
}

::placeholder:hover{
	color: #b10
}

body{
	font-family: "Mont Bold";
	font-weight: 700;
	font-size: 1.0625rem;
	color: #808080;
}

.offer-header__btn{
	background: var(--main-bg-color);
	color: #fff;
	transition: all .3s ease;
	font-size: 1rem;
	padding: 15px 31px;

	&:hover{
		box-shadow: 1px 1px 10px var(--main-bg-color);
		background: var(--main-bg-color);
		color: #fff
	}
}

.toggle-btn{
	display: none;
}

// Hero

.top-header{
	background: #0e191c;
	padding: 32px 0 37px 0;
	color: #fff;

	.tel{
		font-size: 1.5rem;
		font-family: "Mont Heavy";
		position: relative;

		&::before{
			position: absolute;
			content: "";
			display: block;
			left: -59px;
			width: 41px;
			height: 4px;
			background: var(--main-bg-color);
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.offer-header{
	background: #f2f2f2;
	padding: 41px 0 363px 0; 

	.search__field{
		display: block;
  		background: transparent;
  		transition: all .3s ease;
  		border: none;
  		border-bottom: 5px solid #bfbfbf;
  		padding-bottom: 10px; 
  		position: relative;
  		z-index: 9999;
	}

	nav{
		ul{
			li{
				margin-right: 30px;
				a{
					font-family: "Mont Heavy";
					font-size: 1.125rem;
					color: #333333;
					transition: all .3s ease;
					border-bottom: 4px solid transparent;
					padding-bottom: 10px;

					&:hover{
						border-bottom-color: var(--main-bg-color);
						color: var(--main-bg-color);
					}
				}
			}
		}
	}

	// Carousel

	.offer-carousel{
		margin-top: 31px;
		position: absolute;
		width: 98%;
		color: #fff;
		.slide{
			padding: 50px;
			position: relative;
			background: #0e191c;

			.content{
				width: 40%;
				position: relative;
				z-index: 99;

				.slide-date{
					color: #4c4c4c;
					.date{
						display: inline-block;
						margin-right: 10px;
					}
				}

				.slide-title{
					font-size: 2rem;
					margin-top: 35px;
				}

				.slide-button{
					margin-top: 118px;
					@extend .offer-header__btn;
				}
			}

			.offer-image{
				width: 60%;
				height: 100%;
				right: 0;
				top: 0;
				position: absolute;

				&-image{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

// Info

.info{
	padding-top: 176px;
	padding-bottom: 130px;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 121px;
}

.section-title{
	color: #333333;
	font-size: 1.625rem;
	font-family: "Mont Heavy";
	margin-bottom: 40px;
}

.section-text{
	line-height: 30px;
	position: relative;

	&::after{
		position: absolute;
		content: '';
		display: block;
		width: 81px;
		height: 5px;
		background: var(--main-bg-color);
		bottom: -40px;
	}
}

.post{
	position: relative;

	&:last-child{
		margin-top: 48px;
	}
}

.post_text{
	margin-left: 33%;
	color: #4c4c4c;

	.post-date{
		font-size: 1rem;
		color: #bfbfbf;
	}
}

.post_thumbnail{
	width: 30%;
	height: 100%;
	position: absolute;
}

 .post_thumbnail img{
 	object-fit: cover;
	border-radius: 5px;
 	width: 100%;
 	height: 100%;
 }

 #footer{
 	padding: 97px 0;
 	background: #0e191c;
 }

 @media screen and (max-width: 1205px){
 	.offer-header nav ul li{
 		margin-right: 15px;
 	}
 	.offer-header .offer-carousel .slide .content{
 		width: 45%;
 	}
 	.offer-header .offer-carousel .slide .offer-image{
 		width: 55%;
 	}
 }

 @media screen and (max-width: 992px){
 	.offer-header .offer-carousel{
		position: static;
		width: 100%;
 	}

 	.offer-header{
 		padding-bottom: 41px;
 	}

 	.offer-header__btn{
 		margin-top: 20px;
 	}

 	.offer-header .offer-carousel .slide .content{
 		width: 100%;
 	}
 	.offer-header .offer-carousel .slide .offer-image{
 		width: 100%;
 	}

 	.slick-prev, .slick-next{
 		display: none !important;
 	}

 	.info{
 		padding-top: 50px;
 	}

 	.wrapper{
 		grid-template-columns: 1fr;

 		.about{
 			margin-bottom: 100px;
 		}
 	}

 	.offer-header .offer-carousel .slide .content .slide-date{
 		color: #fff
 	}
 }

 @media screen and (max-width: 786px){
 	.tel{
 		display: none;
 	}
 	.nav, .contacts-btn{
 		display: none !important;
 	}

 	.toggle-btn{
 		display: block;
 	}
 }

 @media screen and (max-width: 500px){
 	.offer-header .offer-carousel .slide{
 		padding: 20px;
 	}
 	.offer-header .offer-carousel .slide .content .slide-title{
 		font-size: 1.375rem;
 	}

 	.post{
 		flex-direction: column;
 	}

 	.post_thumbnail{
 		margin-bottom: 20px;
 		width: 100%;
 		position: static;
 	}

 	.post_text{
 		margin-left: 0;
 	}
 }